<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/bootstrap.js" type="application/javascript"></script>
    <script src="js/jquery-3.7.0.js" type="application/javascript"></script>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>

    <form action="/find-by-id" method="get">

        <div class="mb-3">
            <label class="form-label" for="consortiumId">Consortium ID(example: daraco)</label>
            <input id="consortiumId" class="form-control" name="consortiumId" type="text" required>
        </div>

        <button class="btn btn-success" type="submit">find</button>
    </form>

    <h2 class="text-center" th:text="${message}"></h2>

    <hr>

    <div id="providersTable" th:if="${providers != null && providers.size > 0}">

        <h2 class="text-center">Providers</h2>
        <div class="tableContainer">
            <table class="table table-dark table-hover text-center w-75 p-3">
                <thead>
                <tr>
                    <th>provider id</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="provider: ${providers}">
                    <td th:text="${provider}"></td>
                    <td><button class="viewClientsBtn btn btn-outline-light" type="button" th:value="${provider}">view clients</button></td>
                </tr>
                </tbody>
            </table>
        </div>

        <script>$("body").css("height", "100%");</script>

    </div>

    <div class="tableContainer" id="clientsTableContainer" hidden>
        <h2 id="tableTitle" class="text-center"></h2>
        <button id="backBtn" class="btn btn-outline-light" type="button">Back</button>
    </div>

    <script type="application/javascript">

        $(".viewClientsBtn").click(function (){

            const providerId = $(this).val();
            let clients = [];

            $.ajax({
                type: "GET",
                url: "https://api.datacite.org/clients?provider-id=" + providerId,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (response) {
                    clients = response.data;
                    if (clients.length < 6){
                        $("body").css("height", "100vh");
                    }else{
                        $("body").css("height", "100%");
                    }
                    showProviderClients(providerId, clients);
                },
                error: function (message) {
                    alert("no client was found");
                }
            });

        });


        function showProviderClients(providerId, clients){
            $("#providersTable").slideToggle();
            $("#tableTitle").text(providerId + "'s clients");
            let table =
                "<table id='clientsTable' class=\"table table-dark table-hover text-center w-75 p-3\">" +
                    "<thead>" +
                        "<tr>" +
                            "<th>client id</th>" +
                            "<th>actions</th>" +
                        "</tr>" +
                    "</thead>" +
                    "<tbody>";

            for (let i = 0; i < clients.length; i++) {
                table = table.concat(
                    "<tr>" +
                    "<td>" + clients[i].id + "</td>" +
                    "<td>" +
                        "<button class=\"viewDoiCountBtn btn btn-outline-light\" type=\"button\" value='" + clients[i].id + "'>view DOI's count</button>" +
                    "</td>" +
                    "</tr>"
                );
            }

            table = table.concat("</tbody>" + "</table>");
            $("#clientsTableContainer").append(table);
            $("#clientsTableContainer").removeAttr("hidden");

            $(".viewDoiCountBtn").click(function (){

                const clientId = $(this).val();

                $.ajax({
                    type: "GET",
                    url: "https://api.datacite.org/dois?client-id=" + clientId,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: false,
                    success: function (response) {
                        alert("this client have " + response.data.length + " DOIs");
                    },
                    error: function (message) {
                        alert("this client have no doi yet");
                    }
                });

            });

            $("#backBtn").click(function (){
                $("#clientsTableContainer").attr("hidden", true);
                $("#providersTable").show();
                $("#clientsTable").remove();
                $("body").css("height", "100%");
            })

        }

    </script>

</body>
</html>